body {
        background-color: black;
     }
#table-table{
              width : 800px;
              background-image: url("MyBackground.jpg")
              background-repeat: no-repeat;
              background-size : width="1000px" height="1000px";
            }
#pic-table {
              width : 800px;
           }
            p {
                color : white;
                width : 800px;
              }
            h1 {
                 color : white;
               }
#nav{
      width:200px; text-align:center;
    }
#pic{
      width:200px; text-align:center;
     }       
