body {
        background-color : black;
     }
#table-table{
              width : 800px;
            }
#pic-table {
              width : 800px;
           }
            p {
                color : white;
                width : 800px;
              }
            h1 {
                 color : white;
               }
