body {
        background-color : black;
     }
#table-table{
              width : 800px;
            }
#pic-table {
              width : 800px;
           }
p {
    color : white;
   }
h1 {
    color : white;
   }
